.nav-hero {
	background-image: linear-gradient( 135deg, #3C8CE7 10%, rgb(0, 204, 255) 100%);
}

.placeholder-hero {
	background-color: white;
}

#placeholder-text {
	color: black;
}

.placeholder-body {
	background: white;
}

.test {
	min-height: calc(100vh - 9rem);
	border: 5px solid black;
}

.white {
	color: white;
}

.placeholder {
	background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);	
}

.button.is-primary {
	background-color: #3C8CE7;
}

a {
	/* color: rgba(0, 0, 0, 0.486); */
	color: #3C8CE7;
}

.nav-item a:not(.button).is-tab.is-active, a.nav-item:not(.button).is-tab.is-active {
	color: white;
	font-weight: bold;
	border-bottom: 3px solid #3C8CE7;
}

a.nav-item.is-tab, a.nav-item.is-tab.is-active, h1.title, h2.subtitle {
	color: white;
}
