<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IRIS</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>
	<body>
		<section class="hero">
			<div class="hero-head nav-hero">
				<header class="nav">
					<div class="container">
						<div class="nav-left">
							<a class="nav-item">
								<h1 class="title">
									<strong>IRIS</strong>
								</h1>
							</a>
						</div>
						<span class="nav-toggle">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<div class="nav-right nav-menu">
							<span class="nav-item">
								<div class="field is-grouped">
									<p class="control">
										<a class="button is-primary">
											Log Out
										</a>
									</p>
								</div>
							</span>
						</div>
					</div>
				</header>
			</div>

			<div class="section no-padding">
				<div class="columns">
					<div class="column is-3-desktop is-3-tablet is-12-mobile" id="side-nav">
						<aside class="menu">
							<p class="menu-label">
								General
							</p>
							<ul class="menu-list">
								<li><a href="#">Dashboard</a></li>
								<li><a href="#">Profile Settings</a></li>
								<li><a href="#">Package Settings</a></li>
							</ul>
							<p class="menu-label">
								Features
							</p>
							<ul class="menu-list">
								<li><a href="http://localhost:8888/heatmap/">Heatmap</a></li>
								<li><a href="http://localhost:8888/visitstats/">Visit Statistics</a></li>
								<li><a href="http://localhost:8888/scrollstats/">Scroll Statistics</a></li>
								<li><a href="http://localhost:8888/formgen/">Form Creator</a></li>
								<li><a href="http://localhost:8888/visualizer/">Visualizer</a></li>
							</ul>
							<p class="menu-label">
								Transactions
							</p>
							<ul class="menu-list">
								<li>
									<a href="http://localhost:8888/payment/">Payment</a>
								</li>
							</ul>
						</aside>
					</div>
					<div class="column has-text-centered">
						<div class="box" id="box-thingy">
							<p>
								<strong>Download required scripts</strong>
								<br>
								Add these scripts to your website to enable functionalities
							</p>
							<hr>
							<div class="columns has-text-centered">
								<div class="column is-4-desktop is-12-mobile">
									<a href="../static/js/feature-files/click-stats.min.js" download class="button is-medium">
										<span class="icon is-medium">
											<i class="fa fa-download"></i>
										</span>
										<span>Heatmap</span>
									</a>
								</div>
								<div class="column is-4-desktop is-12-mobile">
									<a href="../static/js/feature-files/scroll-stats.min.js" download class="button is-medium">
										<span class="icon is-medium">
											<i class="fa fa-download"></i>
										</span>
										<span>Scroll Statistics</span>
									</a>
								</div>
								<div class="column is-4-desktop is-12-mobile">
									<a href="../static/js/feature-files/visit-stats.min.js" download class="button is-medium">
										<span class="icon is-medium">
											<i class="fa fa-download"></i>
										</span>
										<span>Visit Statistics</span>
									</a>
								</div>
							</div>
						</div>

						<div class="button-container">
							<div onclick="expand(this);" class="btn-expand"><i id="edit-button" class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
						</div>


						<section class="discussion-qs q1 hidden">
							How do I download the scripts ?
						</section>
						<section class="discussion-qs q2 hidden">
							Is there a way to download these heatmaps ?
						</section>
						<section class="discussion-qs q3 hidden">
							Can I get download the output in excel ?
						</section>

						<section class="discussion-box hidden">
							<div class="chat-menu">
								<a id="close-btn" onclick="closeBox();" href="#" title="End Chat">&#10005;</a>
							</div>
							<div class="person-img">
								<div class="half">
									<img class="agent circle" src="https://i.pinimg.com/originals/8e/ac/b8/8eacb870ad9fe28a9880db8ce0ef3a3d.jpg">
								</div>
							</div>
							<br>
							<br>
							<div class="chat">
								<div class="chat-title">
									<h1>Have a question?</h1>
								</div>
								<br>
								<div class="message-box">
									<textarea type="text" class="message-input" placeholder="Ask IRIS"></textarea>
									<button type="submit" class="message-submit">Send</button>
								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</section>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="../static/js/hamburger.js"></script>
		<script src="../static/js/discussion-box.js"></script>
	</body>
</html>