<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>IRIS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="../static/css/lib/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/lib/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="../static/css/custom.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="span6">
					<div class="clearfix">
						<h2>Your Form</h2>
						<hr>
						<div id="build">
							<form id="target" class="form-horizontal">
							</form>
						</div>
					</div>
					<a href="/download.html" download="true">
						<button id="singlebutton" name="singlebutton" class="btn" onclick="send_code()" style="color:black;border-radius:5px;padding-bottom: 6.5px;padding-left: 15px;padding-right: 15px;padding-top: 5.5px;font-weight: normal;height: 40px;box-shadow:none;background-image:none;background-color:white;border:1px solid rgb(204, 204, 204);">
							Download
						</button>
					</a>
				</div>
				<div class="span6">
					<h2>Drag & Drop components</h2>
					<hr>
					<div class="tabbable">
						<ul class="nav nav-tabs" id="formtabs">
						</ul>
						<form class="form-horizontal" id="components">
							<fieldset>
								<div class="tab-content">
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

			<div class="row clearfix">
			</div>

		</div>
		<script data-main="../static/js/main-built.js" src="../static/js/require.js" ></script>
		<script type="text/javascript">
			function send_code() {
				var content = document.getElementById("render").value;
				console.log(content);
				var xhttp = new XMLHttpRequest();
				xhttp.open("POST", "/download", true);
				xhttp.send(content);
			}
		</script>
	</body>
</html>
