<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IRIS</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
		<link rel="stylesheet" href="./static/css/styles.css">
	</head>
	<body>
		<section class="hero is-fullheight">
			<div class="hero-head nav-hero">
				<header class="nav">
					<div class="container">
						<div class="nav-left">
							<a class="nav-item">
								<h1 class="title">
									<strong>IRIS</strong>
								</h1>
							</a>
						</div>
						<span class="nav-toggle">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<div class="nav-right nav-menu">
							<a class="nav-item is-tab is-active">
								Home
							</a>
							<a class="nav-item is-tab">
								Features
							</a>
							<a class="nav-item is-tab">
								Team
							</a>
							<a class="nav-item is-tab">
								Help
							</a>
							<span class="nav-item">
								<div class="field is-grouped">
									<p class="control">
										<a class="button">
											Log in
										</a>
										<a class="button is-primary">
											Sign up
										</a>
									</p>
								</div>
							</span>
						</div>
					</div>
				</header>
			</div>
  
			<div class="hero-body placeholder-body">
				<div class="container has-text-centered">
					<h1 class="title is-2">
						<a class="button is-large" href="dashboard">
							<strong>
								Dashboard
							</strong>
						</a>
					</h1>
				</div>
			</div>
		</section>

		<section class="hero placeholder">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						Sign up now!
					</h1>
					<h2 class="subtitle">
						Select package and stuff.
					</h2>
				</div>
			</div>
		</section>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="./static/js/hamburger.js"></script>

	</body>
</html>